black==26.5.1
click==8.4.0
colorama==0.4.6
ImageIO==2.37.3
Jinja2==3.1.6
lazy-loader==0.5
markdown2==2.5.5
MarkupSafe==3.0.3
mypy_extensions==1.1.0
networkx==3.6.1
numpy==2.4.6
packaging==26.2
pathspec==1.1.1
pdoc==16.0.0
pillow==12.2.0
platformdirs==4.9.6
pydicom==3.0.2
Pygments==2.20.0
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
pytokens==0.4.1
scikit-image==0.26.0
scipy==1.17.1
tifffile==2026.5.15
